#игнорировать файлы или дериктории

#Игнорить файлы, которые могут быть созданы в процессе работы
*.pyc
*.log

#Игнорировать файлы 
venv/
.env

#Игноририровать файлы настроек Postgres
docker-compose
 
#Игнорировать директорию с зависимостями и файлы 
requirements.txt
